* {
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, blue 0%, white 63%)
}

.reset { 
    font-size: 18px;
    height: 30px;
    /* line-height: 100vh; */
    margin: 20px;

}

.general-info {
    float: right;
    height: 400px;
}

.statistics {
    display: block;
    justify-content: space-around;
    margin-top: 16px;
    padding: 30px;
}


button {
    background: radial-gradient(circle, yellow 0%, rgb(198, 105, 23) 100%);
    border-radius: 8px;
    color: darkblue;
    cursor: pointer;
    font-size: 27px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em; 
}

.start-game {
    position: relative;
    left: 270px;
}


header {    
    padding: 40px;
    text-align: center;
    background: rgb(2, 2, 69);
    color: white;
    border-bottom: 30px grey;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section { 
    flex: 0, auto;
    /* padding: 8px; */
    margin-top: 50px;
    background-color: white;
    border-radius: 8px; 
}

.main-board {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.box {
    background: radial-gradient (circle, rgb(245, 245, 193) 0%, rgb(87, 53, 3) 100%);
    border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(41, 57, 70, 0.15) 0 2px 4px 3px;
  margin: auto;
  /* padding: 20px; */
}

.blanks {
    line-height: 360px;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
}


.timer { 
  height: 240px;
  /* padding: 10px; */
  background: #3681c7;
  color: #fff;
  text-align: center;
}

/* .timer-title {
    padding: 55px;
} */

@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }

  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .just-reset {
      font-size: 12px;
      width: 20ox;
    }
  
    .timer {
      height: 200px;
    }
  }
